---
layout: main
---
<article class="article-page">
  <div class="page-content">
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
		  <a href="https://t.me/share?url={{ site.url }}{{ page.url }}" class="tgme_widget_share_btn"><i class="tgme_widget_share_icon"></i><span class="tgme_widget_share_label" target="_blank">Telegram</span></a>
		  <a href="https://www.linkedin.com/sharing/share-offsite/?url=smh67dmrc.github.io/{{ page.url }}" title="Share on Linkedin" rel="nofollow" target="_blank">Linkedin</a>
        </div>
		<div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
